.howwework {
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: #F9FAFB;
    background-image: url("../../img/white_wave.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.howwework__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    text-align: center;
}

.howwework__title {
    font-size: 30px;
    line-height: 40px;
    color: #3b3663;
    font-weight: 800;
    text-align: center;
}

@media (max-width: 767px) {
    .howwework__title {
        line-height: 1;
    }
}

.howwework__subtitle {
    font-size: 18px;
    color: #3b3663;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.howwework__scheme {
    margin-bottom: 80px;
    display: flex;
}

@media (max-width: 767px) {
    .howwework__scheme {
        margin-bottom: 30px;
        flex-direction: column;
    }
}

.howwework__item{
    min-height: 320px;
}

@media (max-width: 767px) {
    .howwework__item {
        min-height: 280px;
    }
}

.howwework__item:nth-child(even){
    display: flex;
    flex-direction: column-reverse;
}

@media (max-width: 767px) {
    .howwework__item:nth-child(even) {
        margin-bottom: 30px;
    }
}

.howwework__balloon {
    margin-top: -7px;
    margin-bottom: -7px;
    position: relative;
}

.howwework__stage {
    position: absolute;
    top: 35px;
    right: 128px;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
}

.howwework__item:nth-of-type(even) .howwework__stage {
    top: 70px
}

.howwework__item:nth-of-type(even) .howwework__strip {
    margin-top: 30px;
}

.howwework__item:nth-of-type(odd) .howwework__strip {
    margin-bottom: 30px;
}

.howwework__desc {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25em;
    color: #3b3663;
}