.hero {
    margin-bottom: 90px;
    min-height: 820px;
    background-image: url("../../img/header_wave-bg.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    .hero {
        margin-bottom: 0;
        min-height: 620px;
        background-position: center top;
        background-size: auto 600px;
        align-items: initial;
    }
}

@media (max-width: 767px) {
    .hero__img {
        display: none;
    }
}

.hero__img {
    position: absolute;
    right: 80px;
}

.hero__img img {
    height: 580px;
    filter: opacity(0.7);
}

.hero__wrapper {
    z-index: 5;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .hero__wrapper {
        padding: 0 15px;
    }
}

.hero__title {
    width: 80%;
    color: #ffffff;
    font-size: 50px;
    font-weight: 800;
    line-height: 63px;
    letter-spacing: -0.2px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    z-index: 3;
}

@media (max-width: 1024px) {
    .hero__title {
        line-height: 1.5em;
    }
}

@media (max-width: 767px) {
    .hero__title {
        width: auto;
        font-size: 29px;
        line-height: 1.2em;
    }
}

.hero__subtitle {
    width: 50%;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

@media (max-width: 767px) {
    .hero__subtitle {
        width: auto;
    }
}

.hero__buttons {
    margin-top: 60px;
}

@media (max-width: 767px) {
    .hero__buttons {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.hero__buttons a {
    display: initial;
    margin-left: 0;
    margin-right: 0;
    width: initial;
    padding: 13px 27px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}

.hero__buttons a:first-of-type {
    margin-right: 20px;
    background-image: linear-gradient(96deg, #9289f1 0%, #6254e7 100%);
}

@media (max-width: 767px) {
    .hero__buttons a:first-of-type {
        margin-bottom: 20px;
    }
}

.hero__buttons a:nth-of-type(2n) {
    background-image: linear-gradient(90deg, #f0ac0e -20%, #ff7426 115%);
}