.hero {
    margin-bottom: 150px;
    min-height: 820px;
    background-image: url("../../img/header_wave-bg.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}

.hero__img {
    position: absolute;
    right: 80px;
}

.hero__img img {
    height: 640px;
}

.hero__wrapper {
    z-index: 5;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.hero__title {
    width: 80%;
    color: #ffffff;
    font-size: 50px;
    font-weight: 800;
    line-height: 63px;
    letter-spacing: -0.2px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    z-index: 3;
}

.hero__subtitle {
    width: 50%;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

.hero__buttons {
    margin-top: 60px;
}

.hero__buttons a {
    display: initial;
    margin-left: 0;
    margin-right: 0;
    width: initial;
    padding: 13px 27px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}

.hero__buttons a:first-of-type {
    margin-right: 20px;
    background-image: linear-gradient(96deg, #9289f1 0%, #6254e7 100%);
}

.hero__buttons a:nth-of-type(2n) {
    background-image: linear-gradient(90deg, #f0ac0e -20%, #ff7426 115%);
}