.footer-nav {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.footer-nav__title {
    margin-top: 0;
    font-weight: 800;
    font-size: 20px;
}

.footer-nav__links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav__links a {
    color: #F0F0F0;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
}

.footer-nav__links a:hover {
    color: #F47514;
}