.partners {
    min-height: 505px;
    background-image: url("../../img/content_wave-bg2.png");
    background-repeat: no-repeat;
}

.partners__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .partners__wrapper {
        padding-top: 160px;
        flex-direction: column;
    }
}

.partners img {
    max-width: 174px;
    filter: invert(.6) grayscale(.9) opacity(0.5);
}

@media (max-width: 767px) {
    .partners img {
        margin-bottom: 20px;
    }
}

.partners img:nth-of-type(3) {
    margin-top: 9px;
}

.partners img:hover {
    filter: none;
}