.partners {
    min-height: 505px;
    background-image: url("../../img/content_wave-bg2.png");
    background-repeat: no-repeat;
}


@media (max-width: 767px) {
    .partners {
        min-height: 305px;
    }
}

.partners__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 480px) {
    .partners__wrapper {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .partners__wrapper {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 160px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1170px) {
    .partners__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.partners img {
    max-width: 174px;
    filter: invert(.6) grayscale(.9) opacity(0.5);
}

@media (min-width: 768px) and (max-width: 1170px) {
    .partners img {
        margin-right: 20px;
    }
}

@media (max-width: 767px) {
    .partners img {
        margin-bottom: 20px;
        margin-right: 10px;
    }
}

.partners img:nth-of-type(3) {
    margin-top: 9px;
}

.partners img:hover {
    filter: none;
}