.copyright {
    margin: 0 auto;
    padding: 15px 0;
    width: 1170px;
    justify-content: flex-start;
    color: #8188B9;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}