.contacts {
    min-height: 122px;
    background-color: #223171;
}

.contacts__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top:31px;
    max-width: 1170px;
    display: flex;
    align-items: center;
}

.contacts__item {
    padding-left: 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.contacts__wrapper>div {
    margin-right: 50px;
}

.contacts__icon {
    position: absolute;
    left: 0;
    height: 37px;
}

.contacts__tel {
    color: #ffffff;
    text-decoration: none;
}

.contacts__mail {
    color: #ffffff;
    text-decoration: none;
}

.contacts__address {
    margin: 0;
    width: 180px;
}